button.primary {
	z-index: 99;
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	height:40px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
    margin-right: 10px;
    cursor: pointer;
}

button.primary:hover {
    opacity: 0.5;
}

button.primary.ghost {
	background-color: transparent;
	height:40px;
	width: 120px;
    z-index: 99;
	color: #02899C;
    margin-left: 10px;
}