@use "../../scss/variables" as *;
@use "../../scss/breakpoints" as *;

.projects {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  h1 {
    color: $white;
  }
}
