.todo-container {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
  height: 800px;
  background: rgb(91, 74, 244);
  background: linear-gradient(
    -140deg,
    rgba(91, 74, 244, 1) 0%,
    rgba(91, 74, 224, 1) 6%,
    rgba(42, 14, 88, 1) 83%
  );

  -webkit-box-shadow: -9px -11px 17px -8px rgba(19, 19, 20, 0.55);
  -moz-box-shadow: -9px -11px 17px -8px rgba(19, 19, 20, 0.55);
  box-shadow: -9px -11px 17px -8px rgba(19, 19, 20, 0.55);
}

.left {
  width: 300px;
  padding-left: 25px;
}

.todo-container h1 {
  color: white;
  margin: 15px;
}

.todo-container h2 {
  font-weight: 400;
  margin: 15px;
  color: #00ffff;
}

.app-description {
  display: flex;
}

.left ul {
  margin: 15px 0 40px;
}
.app-description li {
  list-style-type: none;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.app-buttons {
  display: flex;

  z-index: 99;
}

.right {
  display: flex;
  width: 80%;
  padding-top: 20px;
  justify-content: space-around;
}

#wave {
  z-index: 2;
  position: absolute;
  bottom: 0;
  opacity: 0.1;
}

