@use "../../../scss/variables" as *;
@use "../../../scss/breakpoints" as *;

.desktop {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 40px;
  z-index: 999;
  transition: margin-top 0.3s;
}

.shrink {
  margin-top: -80px;
  opacity: 0.5;
}

.desktop ul {
  display: flex;
  list-style-type: none;
}

.desktop li a {
  font-size: 14px;
  padding: 3px 15px;
  cursor: pointer;
}

.desktop li a:hover {
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .desktop {
    display: none;
  }
}
