.mobile-nav {
  position: relative;
  display: flex;
  margin-top: -10px;
  margin-right: -10px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.274);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 400px;
  
  
}

.mobile-nav ul {
  display: flex;
  list-style-type: none;
  width: 200px;
  padding: 20px 0 20px;
  flex-direction: column;
  
  margin-left: 50px;
}

.mobile-nav ul li {
  margin-bottom: 15px;
  
}

.menu-bars {
  display: flex;
  position: absolute;
  color: white;
  right: 20px;
  top:20px;
  cursor: pointer;
}

.menu-close {
  position: absolute;
  display: flex;
  color: white;
  right: 20px;
  top:10px;
  cursor: pointer;
 }

.mobile-nav a {
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
}

.mobile-nav a:hover {
  background: rgba(255, 255, 255, 0.014);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(177, 176, 176, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
 
}


@media (min-width: 400px) {
  .mobile-nav {
    display: none;
  }
}
